body{
  background-color: #7dfa8e;
  font-family: 'Roboto', sans-serif;
}
.top-button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: aqua;
}
.top-button {
  background-color: #5acee6; /* Green */
  border: 1px solid #a6e5f2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 200ms ease;
  z-index: 0;
  
}