@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --bg: #2de6ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  /* background-image: url("bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
}
.top-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;}
.top-button {
  background-color: #ee88dd00; /* Green */
  border: 0.05rem solid #ffffff;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms ease;
  z-index: 0;
  width: 20vw;
  height: 4rem;
  font-weight: 1000;
  
}
.top-button:hover {
  background-color: #ffffff;
  color: var(--bg);
}
.top-button:active {
  background-color: #ffffff;
  color: var(--bg);
  box-shadow: 0 5px #666;
}
.top-button:focus {
  outline: 0;
}
.picture-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 50px;
}
.chika{
  box-shadow: #666 0px 0px 10px;
  width: 25rem;
  border-radius: 0.5rem;
}
.name-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17vh;
  left: 0;
  width: 100%;
  height: 50px;
}
.rippy{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 1000;
}
.pfp-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
  left: 0;
}
.pfp-img{
  width: 20rem;
  border-radius: 0.5rem;
}
.bio-box{
  position: absolute;
  top: 30vh;
  left: 25rem;
  color: #ffffff;
}
.bio-name{
  font-size: 2rem;
  font-weight: 1000;
}
.bio-text{
  font-size: 1.5rem;
  font-weight: 1000;
}
#test {counter-reset:socials-button;}
#test > div {counter-increment:socials-button;}
.socials-buttons-container{
  /* align the buttons along the middle vertically */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(8rem);
  left: calc(50vw - 20rem);
  width: 100%;
  height: 50px;
}
.socials-button{
  background-color: #ffffff;
  border: 0.05rem solid #ffffff;
  color: var(--bg);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms ease;
  z-index: 0;
  width: 40rem;
  height: 4rem;
  font-weight: 1000;
  margin: 1rem;
  border-radius: 0.5rem;
}
.socials-button:hover {
  background-color: var(--bg);
  color: #ffffff;
}

